In [1]:
import pandas as pd

## Series

In [2]:
# Utilizando uma list para criar um Series
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [8]:
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
# Utilizando um dcionário para criar um Series
data = {'Linha' + str(1): i + 1 for i in range(5)}
data

{'Linha1': 5}

In [11]:
# Podemos criar um novo Series fazendo uma soma, ou outras operações
s1  = s + 2

In [12]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [13]:
s2 = s+s1

In [14]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## Concatenando DataFrames

In [15]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [38]:
type(data[0][0])

int

In [17]:
# Criando um dataframe a partir de uma lista de listas
df1 = pd.DataFrame(data)

In [18]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [26]:
index = ['Linha ' + str(i) for i in range(3)]

In [27]:
df1 = pd.DataFrame(data, index = index)

In [28]:
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [29]:
columns = ['Coluna ' + str(i) for i in range(3)]

In [30]:
df1 = pd.DataFrame(data = data, index = index, columns  = columns)

In [31]:
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [32]:
# Podemos fazer a mesma coisa com dicionários, tuplas e etc...

In [36]:
# Eu posso utilizar operações lógicas com os DataFrames:
df1[df1 > 0] = 'A'
df1

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
# Posso concatenar em linhas ou colunas, dependendo do parametro 'axis' do método concat

In [43]:
# Criando um DataFrame a partir de um dicionário
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

## O que aprendemos
Como selecionar uma variável do dataframe (por exemplo, dados['Tipo'] ou dados.Tipo)
Que um dataframe é composto de vários Series
Como eliminar duplicatas (pelo método drop_duplicates())
Como redefinir o index de um dataframe e series (atributo index)
Como concatenar dataframes (lembrando do axis)
Como criar novos dataframes baseados em estruturas de dados Python (lista, dicionários ou tuples)