In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/lui-m/Documents/GitHub/DS_Notebooks/ComunidadeDS/FTC_Python/datasets/train.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

### 1. Qual o valor da informação armazenada na linha 30 e na coluna 10?

In [2]:
df.iloc[30, 10]

'22:40:00'

### 2. Selecione as linhas 0 a 20 e as colunas 0 a 2

In [3]:
df.iloc[0:21, 0:3]

         ID Delivery_person_ID Delivery_person_Age
0   0x4607     INDORES13DEL02                   37
1   0xb379     BANGRES18DEL02                   34
2   0x5d6d     BANGRES19DEL01                   23
3   0x7a6a    COIMBRES13DEL02                   38
4   0x70a2     CHENRES12DEL01                   32
5   0x9bb4      HYDRES09DEL03                   22
6   0x95b4   RANCHIRES15DEL01                   33
7   0x9eb2      MYSRES15DEL02                   35
8   0x1102      HYDRES05DEL02                   22
9   0xcdcd      DEHRES17DEL01                   36
10  0xd987      KOCRES16DEL01                   21
11  0x2784     PUNERES13DEL03                   23
12  0xc8b6     LUDHRES15DEL02                   34
13  0xdb64      KNPRES14DEL02                   24
14  0x3af3      MUMRES15DEL03                   29
15  0x3aab      MYSRES01DEL01                   35
16  0x689b     PUNERES20DEL01                   33
17  0x6f67      HYDRES14DEL01                   34
18  0xc9cf      KOLRES15DEL03                   21
19  0x36b8     PUNERES19DEL02                   25
20  0x5795   RANCHIRES06DEL02                   31

### 3. Seleciona as linhas 5 a 30 e a coluna “Delivery_person_Age”

In [4]:
df.loc[5:30, "Delivery_person_Age"]

5     22
6     33
7     35
8     22
9     36
10    21
11    23
12    34
13    24
14    29
15    35
16    33
17    34
18    21
19    25
20    31
21    37
22    33
23    25
24    29
25    27
26    35
27    32
28    23
29    31
30    36
Name: Delivery_person_Age, dtype: object

### 4. Selecione as linhas 40 a 42 e as seguintes colunas: “Restaurant_latitude”, “Restaurant_longitude”, "Delivery_location_latitude”, “Delivery_location_longitude”

In [5]:
df.loc[40:42, ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude']]

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude
40,12.972532,77.608179,13.042532,77.678179
41,13.064181,80.236442,13.134181,80.306442
42,19.121999,72.908493,19.201999,72.988493

### 5. Qual a menor data de entrega da coluna “Order_Date” entre as linhas 0 a 50?

In [6]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')
df.loc[0:50, 'Order_Date'].min()

Timestamp('2022-02-11 00:00:00')

### 6. Qual a menor data de entrega da coluna “ Time_Orderd ” entre as linhas 0 a 50?

In [7]:
df.loc[0:50, 'Time_Orderd'].min()

'08:15:00'

### 7. Quais os nomes únicos da coluna “City” entre as linhas 50 e 70?

In [8]:
df.loc[50:70, 'City'].unique()

array(['Metropolitian ', 'Urban ', 'Semi-Urban ', 'NaN '], dtype=object)

### 8. Quais os nomes únicos da coluna “Weatherconditions” entre as linhas 0 e 10?

In [9]:
df.loc[0:10, 'Weatherconditions'].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog'], dtype=object)

### 9. Quais os tipos de densidade de trânsito presente na coluna “Road_traffic_density ” entre as linhas 0 a 20?

In [10]:
df.loc[0:20, 'Road_traffic_density'].unique()

array(['High ', 'Jam ', 'Low ', 'Medium '], dtype=object)

### 10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?

In [11]:
entregador_mais_velho = df.loc[50:70, ['Delivery_person_Age', 'Delivery_person_ID']].max()
entregador_mais_velho['Delivery_person_ID']

'VADRES16DEL02 '

### 10.1 Podemos achar o ID de outra maneira, retornando o ID de todos que tem a maior idade

In [12]:
maior_idade = max(df.loc[50:70, 'Delivery_person_Age'])
newdf = df.loc[50:70]
newdf.loc[newdf['Delivery_person_Age'] == maior_idade]['Delivery_person_ID']

56     AGRRES12DEL03
57     VADRES02DEL02
66     DEHRES19DEL02
69    CHENRES12DEL03
Name: Delivery_person_ID, dtype: object

### 11. Qual o ID do entregador de comida com a melhor avaliação de entrega entre as colunas 50 e 70?

In [13]:
maior_rating = max(df.loc[50:70, 'Delivery_person_Ratings'])
ratings_df = df.loc[50:70]   
ratings_df.loc[ratings_df['Delivery_person_Ratings'] == maior_rating]['Delivery_person_ID']

52    AURGRES20DEL03
63     MUMRES04DEL01
Name: Delivery_person_ID, dtype: object

### 12. Quais os tipos de veículos utilizados pelos entregadores entre as linhas 0 a 30?

In [14]:
df.loc[:30, 'Type_of_vehicle'].unique()

array(['motorcycle ', 'scooter ', 'electric_scooter '], dtype=object)

### 13. Quais os tipos de pedidos único que foram entregues entre as colunas 100 e 120?

In [15]:
df.loc[100:120, 'Type_of_order'].unique()

array(['Snack ', 'Meal ', 'Buffet ', 'Drinks '], dtype=object)