This Notebook will go through the basic topics in order:
* Data Types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data Types
### Numbers

#### Integer

In [2]:
1

1

#### Float

In [3]:
1.0

1.0

#### Basic Arithmetic

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
1 / 2

0.5

In [7]:
2 ** 4

16

In [8]:
# Python respects the mathematic order of operations
2 + 3 * 5 + 5

22

In [10]:
# You can use parentheses in order to just clarify your order 
(2 + 3) * (5 + 5)

50

In [11]:
# Mod Function -> return what remains after a division
4 % 2

0

In [12]:
5 % 2

1

### Variable Assignment

In [13]:
var = 2

In [16]:
x = 2
y = 3
x + y

5

In [18]:
# Reassign 
x = x + x
print(x)

8

In [21]:
# You can't start a variable with a number or a special character. 
# You can use "_" to chain multiple names.
name_of_var = 12

### Strings

In [22]:
# THIS IS A COMMENT

In [23]:
# To creat a string you can use single quote '' or double quote ""
str1 = 'example'
str2 = "example"

In [24]:
# In case you want to use simple quote, you can use it inside a double quote:
str3 = "I can't do it"

### Printing

In [26]:
x = 'hello'
x

'hello'

In [28]:
# Using print is the properly way to show the result of a variable
print(x)

hello

#### Print Formating

In [29]:
num = 25
name = 'Lui'

In [30]:
"I'm {} and my name is {}".format(num,name)

"I'm 25 and my name is Lui"

In [31]:
"I'm {one} and my name is {two}".format(one = num,two = name)

"I'm 25 and my name is Lui"

#### Indexing Strings

In [35]:
# Every string is a list of chars
s = 'hello'

In [36]:
s[0]

'h'

In [37]:
s[4]

'o'

In [38]:
s1 = "abcdefghijk"

In [40]:
s1[0:]

'abcdefghijk'

In [43]:
s1[:3]

'abc'

In [44]:
s1[0:3]

'abc'

In [45]:
s1[3:6]

'def'

### List

In [46]:
[1,2,3]

[1, 2, 3]

In [47]:
['a','b','c']

['a', 'b', 'c']

In [48]:
my_list = ['a','b','c']

In [49]:
my_list.append('d')

In [50]:
my_list

['a', 'b', 'c', 'd']

In [51]:
my_list[0]

'a'

In [52]:
my_list[1:3]

['b', 'c']

In [53]:
my_list[0] = 'new'
my_list

['new', 'b', 'c', 'd']

In [55]:
# Now, let's do a nested list
nest = [0,1,[2,3]]
nest

[0, 1, [2, 3]]

In [56]:
nest[2]

[2, 3]

In [57]:
nest[2][1]

3

In [59]:
nest = [1,2,3,[4,5,['target']]]

In [62]:
# It's easy to grab the target if we use the right commands
print(nest[3][2][0])

target

### Dictionary

In [64]:
d = {'key1': 'value', 'key2': 123}

In [67]:
# Dictionaries don't relie on sequency, but in keys. To acess one variable you need to know the key that this variable 
# correspond
print(d['key1'])
print(d['key2'])

value
123

In [70]:
# You can have all types of data as the result of a key
newd = {'key1': [1,2,3, 'target']}
newd

{'key1': [1, 2, 3, 'target']}

In [73]:
newd['key1'][3]

'target'

In [74]:
# Another thing you can do too is to assign a new variable with a key of a dictionary
new_list = newd['key1']
print(new_list)

[1, 2, 3, 'target']

In [75]:
# We can have a dictionary nested into a dictionary, It's a Inception of dics
d = {'k1': {'innerkey': [1,2,3]}}

In [76]:
# Let's say if I wanna get the number '2':
d['k1']['innerkey'][1]

2

### Booleans

In [77]:
True

True

In [78]:
False

False

### Tuples

In [79]:
t = (1,2,3)

In [81]:
# Tuples are imutable, you can't change the items inside
# So, if you try to "t[0] = 'new'" you gonna get an error

### Sets

In [88]:
# Sets are lists of unique elements, a collection of unique elements
set1 = {1,1,2,2,3,4,5,5,5}
print(set1)

{1, 2, 3, 4, 5}

In [89]:
# Set is a method too, if you wanna transform your list in a set
set([1,2,3,4,4,4,4,4,5,6,7,7,7,7])

{1, 2, 3, 4, 5, 6, 7}

In [90]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

### Comparison Operators

In [91]:
1 > 2

False

In [92]:
1 < 2

True

In [93]:
1 >= 2

False

In [94]:
1 <= 1

True

In [96]:
1 == 1

True

In [97]:
1 != 3

True

In [98]:
'hi' == 'bye'

False

### Logic Operators

In [99]:
1 < 2 and 2 < 3

True

In [101]:
# With a "and" operator, all conditions must be true
1 < 2 and 2 > 3

False

In [103]:
# A great thing to do is to wrap the statements in parentheses
(1<2) and (2>3)

False

In [104]:
# With "or" operator, only 1 of the statements has to be true
(1<2) or (2>3)

True

### if, elif, else Statements

In [106]:
if 1<2:
    print('yep!')

yep!

In [108]:
if True:
   x = 2 + 2
x

4

In [109]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [112]:
# We use elif for multiple conditions
if 1 == 2:
    print('first')
elif 1 != 2:
    print('middle')
elif 3 == 3:       # Even if this statement is true, the execution of this block of code will stop at the first elif
    print('error')
else:
    print('last')

middle

### for Loops

In [115]:
# Allow you to iterate through a sequence
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [116]:
for item in seq:
    print("hello, it's me")

hello, it's me
hello, it's me
hello, it's me
hello, it's me
hello, it's me

### while Loops

In [120]:
# It's gonna execute some block off code while the condition is true
i = 1
# With and while loop you have always to pay atenttion with the stop condition
while i<5:
    print('i is: {}'.format(i)) 
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### Range

In [121]:
for x in seq:
    print(x)

1
2
3
4
5

In [122]:
# Range is a generator of numeric values
range(1,10)

range(1, 10)

In [123]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [127]:
# And you can convert a range into a list

list1 = list(range(1,10)) # Here you can also use range(10) to generate numbers from 1 to 9
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehension

In [132]:
x = [1,2,3,4]
out = []

for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [133]:
# Python has a method where you can skip all this block of code in just one line to create a new list:
out = [num**2 for num in x] # "Give me the square off num for every num in x"
print(out)

[1, 4, 9, 16]

### Functions

In [138]:
def my_func(name = 'Default Name'):
    print('Hello, '+ name)

In [144]:
my_func('Magno')

Hello, Magno

In [145]:
my_func()

Hello, Default Name

In [140]:
# You can ask for python what type of the func is:
my_func

In [146]:
def square(num):
    """
    We can use a docstring to explaing the functioning of a function
    This func return the square of the number
    """
    return num**2

In [143]:
output = square(2)
print(output)

4

In [147]:
"""
This is the way to write multiples strings without #
It's a docstring, can go multiple lines
"""

"\nThis is the way to write multiples strings without #\nIt's a docstring, can go multiple lines\n"

### Lambda expressions

In [148]:
def times2(var):
    return var*2

In [149]:
times2(5)

10

In [150]:
seq = [1,2,3,4,5]

In [152]:
# map() allows you to save time while you try to apply a function to an array 
list(map(times2,seq)) # Here you pass the function and the list that you want to apply the function

[2, 4, 6, 8, 10]

In [153]:
# Lambda expressions is a way to rewrite functions in minors blocks of code:
def times2(var): return var*2 # Get rid of "def", the name "times2" and "return", becoming:
lambda var:var*2

In [155]:
t = lambda var: var*2
t(6)

12

In [156]:
# So, we can use the lambda expression in a situation with the map() function:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [157]:
# Just a way to rewrite an entire function into a single line of clean code

### Filter

In [160]:
filter(lambda num: num % 2 == 0,seq)

In [161]:
list(filter(lambda num: num % 2 == 0,seq))

[2, 4]

### Methods

In [162]:
s = 'hello my name is Sam'

In [163]:
s.lower()

'hello my name is sam'

In [166]:
s.upper()

'HELLO MY NAME IS SAM'

In [167]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [169]:
tweet = 'Go Sports! #Sports'

In [170]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [171]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [172]:
d = {'k1' : 1, 'k2': 2}

In [173]:
d

{'k1': 1, 'k2': 2}

In [174]:
d.keys()

dict_keys(['k1', 'k2'])

In [175]:
d.values()

dict_values([1, 2])

In [176]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [177]:
lst = [1,2,3]

In [178]:
lst.pop()

3

In [179]:
lst

[1, 2]

In [180]:
item = lst.pop()

In [181]:
item

2

In [182]:
first = lst.pop(0)

In [183]:
first

1

In [184]:
'x' in [1,2,3]

False

In [185]:
'x' in ['x', 'y', 'z']

True

In [186]:
x = [(1,2), (3,4), (5,6)]

In [187]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [188]:
# Tuple unpacking
for (a,b) in x:
    print(a)

1
3
5