## Data types

### Numbers

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [6]:
1 * 3

3

#### With 2 integers I got a floating point number

In [5]:
1 / 2

0.5

In [10]:
2 ** 4

16

#### Python respects the mathematic order

In [8]:
2 + 3 * 5 + 5

22

In [9]:
(2+3) * (5+5)

50

#### Mod -> returns the remains after a division

In [11]:
4 % 2

0

In [12]:
5 % 2

1

In [13]:
8 % 2

0

### Variable Assignment

In [14]:
var = 2

In [15]:
var

2

In [16]:
x = 2
y = 3

In [17]:
x + y

5

In [18]:
# redefining x
x = x+x

In [19]:
x

4

In [20]:
x =  x+x

In [21]:
x

8

In [22]:
# this type off assignment is gonna gerate an error
12var = 12

SyntaxError: invalid syntax (<ipython-input-22-e1e5e3e07ed5>, line 2)

In [23]:
'single quote'

'single quote'

In [24]:
"double quote"

'double quote'

In [25]:
"I can't go" # double quotes to deal with the use of single quotes

"I can't go"

In [26]:
x = 'hello'

In [27]:
x

'hello'

In [28]:
print(x)

hello

In [32]:
num = 12
name = 'Sam'

#### Format in string

In [33]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [34]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [39]:
s = 'abcdefghijk'

In [41]:
s[4]

'e'